<section>
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-6 col-lg-6">
                <img class="img-fluid" src="/img/placeholder.jpeg" alt="">
            </div>
            <div class="col-6 col-lg-6">
                <h2 class="text-center">Le peintre des Vosges</h2>
                <p>
                    Artiste peintre basée sur Gérardmer, au coeurs de la forêt Vosgienne, je créer mes toile en rapport avec la nature qui m'entoure. 
                    Tout mes toile sont livrée avec un certificat d'authenticité et un numéro pour les éditions limités. Une pertie des ventes ira à des assciations permettant au personne une insertion professionnel par l'art.
                </p>
                <a href="" class="btn btn-secondary">Voir mon Portefolio</a>
            </div>
        </div>
    </div>
</section>




