<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Le peintre des Vosges
          </h6>
          <p>
            Artiste peintre basée sur Gérardmer, au coeurs de la forêt Vosgienne, je créer mes toile en rapport avec la nature qui m'entoure. 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Lien Utile
          </h6>
          <p>
            <a href="{{ path ("home") }}" class="text-reset">Acceuil</a>
          </p>
          <p>
            <a href="{{ path ("blogpost")}}" class="text-reset">Actualité</a>
          </p>
          <p>
            <a href="{{ path ("a_propos") }}" class="text-reset">A propos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Catégorie</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p>
            <i class="fas fa-home me-3"></i> Gérardmer, Vosges, Fr</p>
          <p>
            <i class="fas fa-envelope me-3"></i>lepeintredesvosges@gmail.com
          </p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="">Le petit peindre des vosges</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->