{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="Jumbotron">
    <h1>Administration</h1>
    <p>
        Bienvenue sur votre espace d'Administration du site
    </p>

</div>

{% endblock %}